<div class="row">
    <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-green"><i class="fa fa-archive"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">Collection Size</span>
                <span class="info-box-number">330,904</span>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-red"><i class="fa fa-desktop"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">Computer Sessions</span>
                <span class="info-box-number">19,172</span> this year
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-yellow"><i class="fa fa-wifi"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">Wireless Sessions</span>
                <span class="info-box-number">931,337</span>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-blue"><i class="fa fa-book"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">Items Circulated</span>
                <span class="info-box-number">468,670</span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-lg-6">
        <div class="box box-primary box-solid" data-widget="box-widget">
            <div class="box-header">
                <h3 class="box-title">Weekly Circulation</h3>
                <div class="box-tools">
                    <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                    <button class="toggle-expand-btn btn btn-box-tool" title="fullscreen"><i class="fa fa-expand"></i></button>
                </div>
            </div>
            <div class="box-body">
                <%= line_chart @circ_graph, @circ_graph_options %>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-lg-6">
        <div class="box box-primary box-solid" data-widget="box-widget">
            <div class="box-header">
                <h3 class="box-title">Wireless Sessions</h3>
                <div class="box-tools">
                    <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                    <button class="toggle-expand-btn btn btn-box-tool" title="fullscreen"><i class="fa fa-expand"></i></button>
                </div>
            </div>
            <div class="box-body">
                <%= line_chart @wireless_graph, @wireless_graph_options %>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4 col-md-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-yellow"><i class="fa fa-comments"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">Questions Answered</span>
                <span class="info-box-number">37,258</span>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-green"><i class="fa fa-bug"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">Puppets Circulated</span>
                <span class="info-box-number">477</span>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-red"><i class="fa fa-users"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">Users Registered</span>
                <span class="info-box-number">1,555</span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-lg-6">
        <div class="box box-primary box-solid" data-widget="box-widget">
            <div class="box-header">
                <h3 class="box-title">Public Computer Sessions</h3>
                <div class="box-tools">
                    <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                    <button class="toggle-expand-btn btn btn-box-tool" title="fullscreen"><i class="fa fa-expand"></i></button>
                </div>
            </div>
            <div class="box-body">
                <%= line_chart @pubcomp_graph, @pubcomp_graph_options %>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-lg-6">
        <div class="box box-primary box-solid" data-widget="box-widget">
            <div class="box-header">
                <h3 class="box-title">New Users</h3>
                <div class="box-tools">
                    <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                    <button class="toggle-expand-btn btn btn-box-tool" title="fullscreen"><i class="fa fa-expand"></i></button>
                </div>
            </div>
            <div class="box-body">
                <%= line_chart @newusers_graph, @newusers_graph_options %>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-3">
            <div class="info-box">
                <span class="info-box-icon bg-green"><i class="fa fa-users"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Users Registered</span>
                    <span class="info-box-number">1,555</span>
                </div>
            </div>
            <div class="info-box">
                <span class="info-box-icon bg-blue"><i class="fa fa-users"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Users Registered</span>
                    <span class="info-box-number">1,555</span>
                </div>
            </div>
            <div class="info-box">
                <span class="info-box-icon bg-red"><i class="fa fa-users"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Users Registered</span>
                    <span class="info-box-number">1,555</span>
                </div>
            </div>
            <div class="info-box">
                <span class="info-box-icon bg-yellow"><i class="fa fa-users"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Users Registered</span>
                    <span class="info-box-number">1,555</span>
                </div>
            </div>
    </div>
    <div class="col-xs-12 col-md-6">
        <div class="box box-primary box-solid" data-widget="box-widget">
            <div class="box-header">
                <h3 class="box-title">Circulation Stats</h3>
                <div class="box-tools">
                    <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <p><span class="emphasize">so far</span> this year, <span class="emphasize">125,397</span> books, <span class="emphasize">85,592</span> children's books, <span class="emphasize">105,212</span> movies, <span class="emphasize">28,453</span> albums, <span class="emphasize">4,162</span> magazines, <span class="emphasize">16,352</span> audiobooks and <span class="emphasize">479</span> puppets circulated. </p>
                <p>need to do something more with this area, or figure out a better layout</p>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-3">
        <div class="box box-primary box-solid" data-widget="box-widget">
            <div class="box-header">
                <h3 class="box-title">Circulation by Type</h3>
                <div class="box-tools">
                    <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <%= doughnut_chart @circ_type_graph %>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-3">
        <div class="box box-primary box-solid" data-widget="box-widget">
            <div class="box-header">
                <h3 class="box-title">Collection Distribution</h3>
                <div class="box-tools">
                    <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <%= doughnut_chart @collection_dist_graph %>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-6">
        <div class="box box-primary box-solid" data-widget="box-widget">
            <div class="box-header">
                <h3 class="box-title">Collection Stats</h3>
                <div class="box-tools">
                    <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <caption>Cumulative collection statistics from the last 12 months.</caption>
                        <thead>
                            <tr>
                                <td>Type</td>
                                <td>Count</td>
                                <td>Added</td>
                                <td>Withdrawn</td>
                                <td>% Change</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr><!-- automate these, obviously! -->
                                <td>Book</td>
                                <td>147,075</td>
                                <td>4,778</td>
                                <td>4,319</td>
                                <td>7% <i class="fa fa-caret-up"></i><span class="sr-only">increase</span></td>
                            </tr>
                            <tr>
                                <td>Children's Book</td>
                                <td>76,607</td>
                                <td>2,242</td>
                                <td>2,484</td>
                                <td>3% <i class="fa fa-caret-up"></i><span class="sr-only">increase</span></td>
                            </tr>
                            <tr>
                                <td>Videos</td>
                                <td>25,824</td>
                                <td>1,417</td>
                                <td>448</td>
                                <td>4% <i class="fa fa-caret-up"></i><span class="sr-only">increase</span></td>
                            </tr>
                            <tr>
                                <td>Compact Discs</td>
                                <td>35,440</td>
                                <td>917</td>
                                <td>687</td>
                                <td>2% <i class="fa fa-caret-up"></i><span class="sr-only">increase</span></td>
                            </tr>
                            <tr>
                                <td>Magazine</td>
                                <td>10,818</td>
                                <td>2,036</td>
                                <td>931</td>
                                <td>4% <i class="fa fa-caret-up"></i><span class="sr-only">increase</span></td>
                            </tr>
                            <tr>
                                <td>Audiobook</td>
                                <td>10,774</td>
                                <td>437</td>
                                <td>715</td>
                                <td>3% <i class="fa fa-caret-down"></i><span class="sr-only">decrease</span></td>
                            </tr>
                            <tr>
                                <td>Other</td>
                                <td>24,366</td>
                                <td>147</td>
                                <td>158</td>
                                <td>1% <i class="fa fa-caret-down"></i><span class="sr-only">decrease</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-3">
        <div class="box box-primary box-solid" data-widget="box-widget">
            <div class="box-header">
                <h3 class="box-title">Collection Movement</h3>
                <div class="box-tools">
                    <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <%= radar_chart @collection_movement_graph, @collection_movement_graph_options %>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-4">
        <div class="box box-primary box-solid" data-widget="box-widget">
            <div class="box-header">
                <h3 class="box-title">Most Popular Books</h3>
                <div class="box-tools">
                    <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                    <button class="toggle-expand-btn btn btn-box-tool" title="fullscreen"><i class="fa fa-expand"></i></button>
                </div>
            </div>
            <div class="box-body">

                <div class="media"><!-- media item -->
                    <div class="media-left">
                        <a href="https://catalog.tadl.org/main/details?id=48138178">
                            <img class="media-object cover-image" src="https://catalog.tadl.org/opac/extras/ac/jacket/large/r/48138178" alt="cover image" />
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">The Midnight Line<span class="label label-primary pull-right" data-toggle="tooltip" data-placement="top" title="48 circulations last week">48</span></h4>
                        <p><strong>Lee Child</strong>, 2017</p>
                        <p class="abstract"><span>reacher rides the bus north from milwaukee at a comfort stop in wisconsin dairy country he takes a stroll among the cheap junk in a pawn shop window he notices a west point class ring for sale its tiny a woman cadets ring why would she pawn it reacher knows what serena sanderson must have gone through to get it he fights through a biker gang and a south dakota gangster, following the trail of the ring to the emptiness of wyoming in search of major sanderson is she ok</span></p>
                    </div>
                </div><!-- end media item -->

                <div class="media"><!-- media item -->
                    <div class="media-left">
                        <a href="https://catalog.tadl.org/main/details?id=48135873">
                            <img class="media-object cover-image" src="https://catalog.tadl.org/opac/extras/ac/jacket/large/r/48135873" alt="cover image" />
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">The Rooster Bar<span class="label label-primary pull-right" data-toggle="tooltip" data-placement="top" title="42 circulations last week">42</span></h4>
                        <p><strong>John Grisham</strong>, 2017</p>
                        <p class="abstract"><span>three students who have borrowed heavily to attend a third rate law school realize they have been caught in a scam when they discover that the schools owner also owns a bank specializing in student loans, and plot to expose the scam</span></p>
                    </div>
                </div><!-- end media item -->

                <div class="media"><!-- media item -->
                    <div class="media-left">
                        <a href="https://catalog.tadl.org/main/details?id=48190463">
                            <img class="media-object cover-image" src="https://catalog.tadl.org/opac/extras/ac/jacket/large/r/48190463" alt="cover image" />
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">The Fallen<span class="label label-primary pull-right" data-toggle="tooltip" data-placement="top" title="39 circulations last week">39</span></h4>
                        <p><strong>David Baldacci</strong>, 2018</p>
                        <p class="abstract"><span>amos decker and his journalist friend alex jamison are visiting the home of alexs sister in barronville, a small town in wester n pennsylvania that has been hit hard economically when decker is out on the rear deck of the house talking with alexs niece a precocious eight year old he notices flickerin g lights and then a spark of flame in the window of the house across the way when he goes to investigate he finds two dead bodies inside and its not clear how either man die d but this is only the tip of the iceberg theres something going on in barronville that might be the canary in the coal mine for the rest of the country faced with a stonewa lling local police force and roadblocks put up by unseen forces decker and jamison must pull out all the stops to solve the case and even deckers infallible memory may not b e enough to save them</span></p>
                    </div>
                </div><!-- end media item -->

                <div class="media"><!-- media item -->
                    <div class="media-left">
                        <a href="https://catalog.tadl.org/main/details?id=48137903">
                            <img class="media-object cover-image" src="https://catalog.tadl.org/opac/extras/ac/jacket/large/r/48137903" alt="cover image" />
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Hardcore Twenty Four<span class="label label-primary pull-right" data-toggle="tooltip" data-placement="top" title="38 circulations last week">38</span></h4>
                        <p><strong>Janet Evanovich</strong>, 2017</p>
                        <p class="abstract"><span>stephanie plum is a bounty hunter who often runs into trouble on the job, but she has family friends and several men to help her out of sticky situations theres lula a plus sized former hooker turned bounty hunter and grandma mazur stephanies outrageous grandmother who packs a gun and som etimes tags along on cases</span></p>
                    </div>
                </div><!-- end media item -->
                
                <div class="media"><!-- media item -->
                    <div class="media-left">
                        <a href="https://catalog.tadl.org/main/details?id=48186031">
                            <img class="media-object cover-image" src="https://catalog.tadl.org/opac/extras/ac/jacket/large/r/48186031" alt="cover image" />
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">The Great Alone<span class="label label-primary pull-right" data-toggle="tooltip" data-placement="top" title="38 circulations last week">38</span></h4>
                        <p><strong>Kristin Hannah</strong>, 2018</p>
                        <p class="abstract"><span>lenora allbright is 13 when her father convinces her mother, cora to forgo their inauspicious existence in seattle and mov e to kaneq ak its 1974 and the former vietnam pow sees a better future away from the noise and nightmares that plague him having been left a homestead by a buddy who died in the war ernt is secure in his beliefs but never was a family less prepared for the reality of alaska the long cold winters and isolation locals want to help out especially classmate matthew walker who likes everything about leni yet the harsh conditions bring out the worst in ernt whose paranoia takes over their lives and exacerbates what leni sees as the toxic relationship between her parents the allbrights are as green as greenhorns can be and even first love must endure unimaginable hardship and tragedy as the wilderness tries to claim more victims</span></p>
                    </div>
                </div><!-- end media item -->

                <div class="media"><!-- media item -->
                    <div class="media-left">
                        <a href="https://catalog.tadl.org/main/details?id=">
                            <img class="media-object cover-image" src="https://catalog.tadl.org/opac/extras/ac/jacket/large/r/" alt="cover image" />
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">TITLE<span class="label label-primary pull-right" data-toggle="tooltip" data-placement="top" title="XX circulations last week">XX</span></h4>
                        <p><strong>Author</strong>, Year</p>
                        <p class="abstract"><span>Abstract</span></p>
                    </div>
                </div><!-- end media item -->
                <div class="media"><!-- media item -->
                    <div class="media-left">
                        <a href="https://catalog.tadl.org/main/details?id=">
                            <img class="media-object cover-image" src="https://catalog.tadl.org/opac/extras/ac/jacket/large/r/" alt="cover image" />
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">TITLE<span class="label label-primary pull-right" data-toggle="tooltip" data-placement="top" title="XX circulations last week">XX</span></h4>
                        <p><strong>Author</strong>, Year</p>
                        <p class="abstract"><span>Abstract</span></p>
                    </div>
                </div><!-- end media item -->
                <div class="media"><!-- media item -->
                    <div class="media-left">
                        <a href="https://catalog.tadl.org/main/details?id=">
                            <img class="media-object cover-image" src="https://catalog.tadl.org/opac/extras/ac/jacket/large/r/" alt="cover image" />
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">TITLE<span class="label label-primary pull-right" data-toggle="tooltip" data-placement="top" title="XX circulations last week">XX</span></h4>
                        <p><strong>Author</strong>, Year</p>
                        <p class="abstract"><span>Abstract</span></p>
                    </div>
                </div><!-- end media item -->
                <div class="media"><!-- media item -->
                    <div class="media-left">
                        <a href="https://catalog.tadl.org/main/details?id=">
                            <img class="media-object cover-image" src="https://catalog.tadl.org/opac/extras/ac/jacket/large/r/" alt="cover image" />
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">TITLE<span class="label label-primary pull-right" data-toggle="tooltip" data-placement="top" title="XX circulations last week">XX</span></h4>
                        <p><strong>Author</strong>, Year</p>
                        <p class="abstract"><span>Abstract</span></p>
                    </div>
                </div><!-- end media item -->
                <div class="media"><!-- media item -->
                    <div class="media-left">
                        <a href="https://catalog.tadl.org/main/details?id=">
                            <img class="media-object cover-image" src="https://catalog.tadl.org/opac/extras/ac/jacket/large/r/" alt="cover image" />
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">TITLE<span class="label label-primary pull-right" data-toggle="tooltip" data-placement="top" title="XX circulations last week">XX</span></h4>
                        <p><strong>Author</strong>, Year</p>
                        <p class="abstract"><span>Abstract</span></p>
                    </div>
                </div><!-- end media item -->

            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-4">
        <div class="box box-primary box-solid" data-widget="box-widget">
            <div class="box-header">
                <h3 class="box-title">Most Popular Movies</h3>
                <div class="box-tools">
                    <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                    <button class="toggle-expand-btn btn btn-box-tool" title="fullscreen"><i class="fa fa-expand"></i></button>
                </div>
            </div>
            <div class="box-body">
                
                <div class="media"><!-- media item -->
                    <div class="media-left">
                        <a href="https://catalog.tadl.org/main/details?id=">
                            <img class="media-object cover-image" src="https://catalog.tadl.org/opac/extras/ac/jacket/large/r/" alt="cover image" />
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">TITLE<span class="label label-primary pull-right" data-toggle="tooltip" data-placement="top" title="XX circulations last week">XX</span></h4>
                        <p><strong>Author</strong>, Year</p>
                        <p class="abstract"><span>Abstract</span></p>
                    </div>
                </div><!-- end media item -->
                <div class="media"><!-- media item -->
                    <div class="media-left">
                        <a href="https://catalog.tadl.org/main/details?id=">
                            <img class="media-object cover-image" src="https://catalog.tadl.org/opac/extras/ac/jacket/large/r/" alt="cover image" />
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">TITLE<span class="label label-primary pull-right" data-toggle="tooltip" data-placement="top" title="XX circulations last week">XX</span></h4>
                        <p><strong>Author</strong>, Year</p>
                        <p class="abstract"><span>Abstract</span></p>
                    </div>
                </div><!-- end media item -->
                <div class="media"><!-- media item -->
                    <div class="media-left">
                        <a href="https://catalog.tadl.org/main/details?id=">
                            <img class="media-object cover-image" src="https://catalog.tadl.org/opac/extras/ac/jacket/large/r/" alt="cover image" />
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">TITLE<span class="label label-primary pull-right" data-toggle="tooltip" data-placement="top" title="XX circulations last week">XX</span></h4>
                        <p><strong>Author</strong>, Year</p>
                        <p class="abstract"><span>Abstract</span></p>
                    </div>
                </div><!-- end media item -->
                <div class="media"><!-- media item -->
                    <div class="media-left">
                        <a href="https://catalog.tadl.org/main/details?id=">
                            <img class="media-object cover-image" src="https://catalog.tadl.org/opac/extras/ac/jacket/large/r/" alt="cover image" />
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">TITLE<span class="label label-primary pull-right" data-toggle="tooltip" data-placement="top" title="XX circulations last week">XX</span></h4>
                        <p><strong>Author</strong>, Year</p>
                        <p class="abstract"><span>Abstract</span></p>
                    </div>
                </div><!-- end media item -->
                <div class="media"><!-- media item -->
                    <div class="media-left">
                        <a href="https://catalog.tadl.org/main/details?id=">
                            <img class="media-object cover-image" src="https://catalog.tadl.org/opac/extras/ac/jacket/large/r/" alt="cover image" />
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">TITLE<span class="label label-primary pull-right" data-toggle="tooltip" data-placement="top" title="XX circulations last week">XX</span></h4>
                        <p><strong>Author</strong>, Year</p>
                        <p class="abstract"><span>Abstract</span></p>
                    </div>
                </div><!-- end media item -->
                <div class="media"><!-- media item -->
                    <div class="media-left">
                        <a href="https://catalog.tadl.org/main/details?id=">
                            <img class="media-object cover-image" src="https://catalog.tadl.org/opac/extras/ac/jacket/large/r/" alt="cover image" />
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">TITLE<span class="label label-primary pull-right" data-toggle="tooltip" data-placement="top" title="XX circulations last week">XX</span></h4>
                        <p><strong>Author</strong>, Year</p>
                        <p class="abstract"><span>Abstract</span></p>
                    </div>
                </div><!-- end media item -->
                <div class="media"><!-- media item -->
                    <div class="media-left">
                        <a href="https://catalog.tadl.org/main/details?id=">
                            <img class="media-object cover-image" src="https://catalog.tadl.org/opac/extras/ac/jacket/large/r/" alt="cover image" />
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">TITLE<span class="label label-primary pull-right" data-toggle="tooltip" data-placement="top" title="XX circulations last week">XX</span></h4>
                        <p><strong>Author</strong>, Year</p>
                        <p class="abstract"><span>Abstract</span></p>
                    </div>
                </div><!-- end media item -->
                <div class="media"><!-- media item -->
                    <div class="media-left">
                        <a href="https://catalog.tadl.org/main/details?id=">
                            <img class="media-object cover-image" src="https://catalog.tadl.org/opac/extras/ac/jacket/large/r/" alt="cover image" />
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">TITLE<span class="label label-primary pull-right" data-toggle="tooltip" data-placement="top" title="XX circulations last week">XX</span></h4>
                        <p><strong>Author</strong>, Year</p>
                        <p class="abstract"><span>Abstract</span></p>
                    </div>
                </div><!-- end media item -->
                <div class="media"><!-- media item -->
                    <div class="media-left">
                        <a href="https://catalog.tadl.org/main/details?id=">
                            <img class="media-object cover-image" src="https://catalog.tadl.org/opac/extras/ac/jacket/large/r/" alt="cover image" />
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">TITLE<span class="label label-primary pull-right" data-toggle="tooltip" data-placement="top" title="XX circulations last week">XX</span></h4>
                        <p><strong>Author</strong>, Year</p>
                        <p class="abstract"><span>Abstract</span></p>
                    </div>
                </div><!-- end media item -->
                <div class="media"><!-- media item -->
                    <div class="media-left">
                        <a href="https://catalog.tadl.org/main/details?id=">
                            <img class="media-object cover-image" src="https://catalog.tadl.org/opac/extras/ac/jacket/large/r/" alt="cover image" />
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">TITLE<span class="label label-primary pull-right" data-toggle="tooltip" data-placement="top" title="XX circulations last week">XX</span></h4>
                        <p><strong>Author</strong>, Year</p>
                        <p class="abstract"><span>Abstract</span></p>
                    </div>
                </div><!-- end media item -->

            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-4">
        <div class="box box-primary box-solid" data-widget="box-widget">
            <div class="box-header">
                <h3 class="box-title">Most Popular Music</h3>
                <div class="box-tools">
                    <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                    <button class="toggle-expand-btn btn btn-box-tool" title="fullscreen"><i class="fa fa-expand"></i></button>
                </div>
            </div>
            <div class="box-body">
                
                <div class="media"><!-- media item -->
                    <div class="media-left">
                        <a href="https://catalog.tadl.org/main/details?id=">
                            <img class="media-object cover-image" src="https://catalog.tadl.org/opac/extras/ac/jacket/large/r/" alt="cover image" />
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">TITLE<span class="label label-primary pull-right" data-toggle="tooltip" data-placement="top" title="XX circulations last week">XX</span></h4>
                        <p><strong>Author</strong>, Year</p>
                        <p class="abstract"><span>Abstract</span></p>
                    </div>
                </div><!-- end media item -->
                <div class="media"><!-- media item -->
                    <div class="media-left">
                        <a href="https://catalog.tadl.org/main/details?id=">
                            <img class="media-object cover-image" src="https://catalog.tadl.org/opac/extras/ac/jacket/large/r/" alt="cover image" />
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">TITLE<span class="label label-primary pull-right" data-toggle="tooltip" data-placement="top" title="XX circulations last week">XX</span></h4>
                        <p><strong>Author</strong>, Year</p>
                        <p class="abstract"><span>Abstract</span></p>
                    </div>
                </div><!-- end media item -->
                <div class="media"><!-- media item -->
                    <div class="media-left">
                        <a href="https://catalog.tadl.org/main/details?id=">
                            <img class="media-object cover-image" src="https://catalog.tadl.org/opac/extras/ac/jacket/large/r/" alt="cover image" />
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">TITLE<span class="label label-primary pull-right" data-toggle="tooltip" data-placement="top" title="XX circulations last week">XX</span></h4>
                        <p><strong>Author</strong>, Year</p>
                        <p class="abstract"><span>Abstract</span></p>
                    </div>
                </div><!-- end media item -->
                <div class="media"><!-- media item -->
                    <div class="media-left">
                        <a href="https://catalog.tadl.org/main/details?id=">
                            <img class="media-object cover-image" src="https://catalog.tadl.org/opac/extras/ac/jacket/large/r/" alt="cover image" />
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">TITLE<span class="label label-primary pull-right" data-toggle="tooltip" data-placement="top" title="XX circulations last week">XX</span></h4>
                        <p><strong>Author</strong>, Year</p>
                        <p class="abstract"><span>Abstract</span></p>
                    </div>
                </div><!-- end media item -->
                <div class="media"><!-- media item -->
                    <div class="media-left">
                        <a href="https://catalog.tadl.org/main/details?id=">
                            <img class="media-object cover-image" src="https://catalog.tadl.org/opac/extras/ac/jacket/large/r/" alt="cover image" />
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">TITLE<span class="label label-primary pull-right" data-toggle="tooltip" data-placement="top" title="XX circulations last week">XX</span></h4>
                        <p><strong>Author</strong>, Year</p>
                        <p class="abstract"><span>Abstract</span></p>
                    </div>
                </div><!-- end media item -->
                <div class="media"><!-- media item -->
                    <div class="media-left">
                        <a href="https://catalog.tadl.org/main/details?id=">
                            <img class="media-object cover-image" src="https://catalog.tadl.org/opac/extras/ac/jacket/large/r/" alt="cover image" />
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">TITLE<span class="label label-primary pull-right" data-toggle="tooltip" data-placement="top" title="XX circulations last week">XX</span></h4>
                        <p><strong>Author</strong>, Year</p>
                        <p class="abstract"><span>Abstract</span></p>
                    </div>
                </div><!-- end media item -->
                <div class="media"><!-- media item -->
                    <div class="media-left">
                        <a href="https://catalog.tadl.org/main/details?id=">
                            <img class="media-object cover-image" src="https://catalog.tadl.org/opac/extras/ac/jacket/large/r/" alt="cover image" />
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">TITLE<span class="label label-primary pull-right" data-toggle="tooltip" data-placement="top" title="XX circulations last week">XX</span></h4>
                        <p><strong>Author</strong>, Year</p>
                        <p class="abstract"><span>Abstract</span></p>
                    </div>
                </div><!-- end media item -->
                <div class="media"><!-- media item -->
                    <div class="media-left">
                        <a href="https://catalog.tadl.org/main/details?id=">
                            <img class="media-object cover-image" src="https://catalog.tadl.org/opac/extras/ac/jacket/large/r/" alt="cover image" />
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">TITLE<span class="label label-primary pull-right" data-toggle="tooltip" data-placement="top" title="XX circulations last week">XX</span></h4>
                        <p><strong>Author</strong>, Year</p>
                        <p class="abstract"><span>Abstract</span></p>
                    </div>
                </div><!-- end media item -->
                <div class="media"><!-- media item -->
                    <div class="media-left">
                        <a href="https://catalog.tadl.org/main/details?id=">
                            <img class="media-object cover-image" src="https://catalog.tadl.org/opac/extras/ac/jacket/large/r/" alt="cover image" />
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">TITLE<span class="label label-primary pull-right" data-toggle="tooltip" data-placement="top" title="XX circulations last week">XX</span></h4>
                        <p><strong>Author</strong>, Year</p>
                        <p class="abstract"><span>Abstract</span></p>
                    </div>
                </div><!-- end media item -->
                <div class="media"><!-- media item -->
                    <div class="media-left">
                        <a href="https://catalog.tadl.org/main/details?id=">
                            <img class="media-object cover-image" src="https://catalog.tadl.org/opac/extras/ac/jacket/large/r/" alt="cover image" />
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">TITLE<span class="label label-primary pull-right" data-toggle="tooltip" data-placement="top" title="XX circulations last week">XX</span></h4>
                        <p><strong>Author</strong>, Year</p>
                        <p class="abstract"><span>Abstract</span></p>
                    </div>
                </div><!-- end media item -->

            </div>
        </div>
    </div>
</div>
<script>
$(".toggle-expand-btn.btn.btn-box-tool").on("click", function(event) {
    $(event.target).closest(".box").toggleClass("panel-fullscreen");
    console.log("clicked");
});
$(".fa-bug").on("click", function(event) {
    $(this).toggleClass("fa-spin");
});
$(function () {
      $('[data-toggle="tooltip"]').tooltip()
})
</script>
