<!DOCTYPE html>
<html>
    <head>
        <title>Tadlstats</title>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>
        <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no" />
        <meta property="og:title" content="Traverse Area District Library" />
        <meta property="og:type" content="website" />
        <meta property="og:description" content="The Traverse Area District Library Online Catalog" />
        <meta property="og:url" content="https://catalog.tadl.org/" />
        <meta property="og:image" content="" />

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <%= stylesheet_link_tag href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" %>
    </head>

    <body class="fixed skin-blue-light sidebar-collapse">
        <div class="wrapper">
            <%= render 'layouts/navigation/layout' %>
            <div class="content-wrapper">
                <div style="padding: 5px;">
                    <%= yield %>
                </div>
            </div>
        </div>
    </body>
</html>
